<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="나에게 맞는 AI 정부지원금,정책자금  찾기 서비스, 나맞지 - 고객문의">
  <meta name="keywords" content="나맞지,정부지원금,지원금찾기,지원사업,국가지원사업,지원사업찾기,정책자금,고객문의,나에게맞는지원금,정책자금,지원금찾기,지원사업,국가지원사업,지원사업찾기">
  <link rel="canonical" href="https://namatji.com/counsel/inquiry/">

  <meta property="og:type" content="website"> 
  <meta property="og:title" content="나맞지 - 고객문의">
  <meta property="og:image" content="https://namatji.com/static/images/NAMATJI_ICON.png">
  <meta property="og:description" content="나맞지 - 고객문의">
  {% load static %}
  <link rel="stylesheet" href="{% static 'base/base.css' %}">
  <link rel="stylesheet" href="{% static 'counsel/inquiry.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/NAMATJI_ICON.png' %}" />
  <title>나맞지 - 고객문의</title>
</head>
<body>
  {% include 'base/top_nav.html' %}
  <form action="{% url 'inquiry' %}" method="post">
  {% csrf_token %}
  <div class="inquiry-container">
    <div class="inquiry-wrapper">
      <div class="inquiry-title">고객문의</div>
      <div class="inquiry-form">
        <div class="inquiry-form-item">
          <label for="name" class="inquiry-from-text">*이름</label>
          <input type="text" id="name" name="name" class="inquiry-from-input">
        </div>
        <div class="inquiry-form-item">
          <label for="phone" class="inquiry-from-text">*전화번호</label>
          <input type="text" id="phone" name="phone" class="inquiry-from-input">
        </div>
        <div class="inquiry-form-item">
          <label for="inquiry" class="inquiry-from-text">*문의 내용</label>
          <textarea id="inquiry" name="inquiry" class="inquiry-from-textarea"></textarea>
        </div>
        <div class="personal-info-wrap">
          <div class="info-check-box">
            <input type="checkbox" class="consent-checkbox">
            <div class="personal-info-title">개인정보 수집 및 이용 동의 <span class="personal-info-title-text" onclick="window.location.href='{% url 'personal_info' %}'">[전문보기]</span></div>
          </div>
          <div class="info-check-box">
            <input type="checkbox" class="consent2-checkbox">
            <div class="personal-info-title">개인정보 제 3자 제공 동의 <span class="personal-info-title-text" onclick="window.location.href='{% url 'personal_info' %}'">[전문보기]</span></div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} <div class="inquiry-form-btn-wrap"> {% endcomment %}
      <button type="submit" class="inquiry-form-btn">문의하기</button>
    {% comment %} </div> {% endcomment %}
  </div>
</form>
<script src="{% static 'counsel/inquiry.js' %}"></script>
</body>
</html>