<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>상담 신청 완료</title>
  {% load static %}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6882409851484122"
     crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'counsel/thank_you.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/NAMATJI_ICON.png' %}" />
</head>
<body>
  <div class="thank-you-box">
    <h2>🎉 상담 신청이 접수되었습니다!</h2>
    <p>담당자가 빠르게 연락드릴 예정입니다.</p>
    <p>감사합니다.</p>
    <a href="{% url 'main' %}" class="button">🏠 메인으로 돌아가기</a>
  </div>
</body>
</html>
