textarea {
  resize: none;
}

.naver-blog-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.naver-blog-input-container {
  width: 50%;
  height: 700px;
  background-color: #f0f0f0;
  border: 1px solid #000;
}


.naver-blog-output-container {
  width: 50%;
  height: 700px;
  background-color: #f0f0f0;
  border: 1px solid #000;
}

.naver-blog-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.naver-blog-content {
  width: 90%;
  margin: 0 auto;
}

#naver-blog-input {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.naver-blog-button-container {
  width: 50%;
  margin: 0 auto;
}

#naver-blog-button {
  width: 100%;
  height: 40px;
  margin: 0 auto;
}

.naver-blog-output-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.naver-blog-output-content {
  width: 90%;
  margin: 0 auto;
}

.output-textarea {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.naver-blog-output-button-container {
  width: 50%;
  margin: 0 auto;
}

#naver-blog-output-button {
  width: 100%;
  height: 40px;
  margin: 0 auto;
}

.output-page-container {
  display: flex;
  flex-direction: row;
}

.output-page-number {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}

.dis-none {
  display: none;
}

.tt1 {
  display: block;
}

.naver-blog-download-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

#naver-blog-download-button {
  width: 100%;
  height: 40px;
}

.naver-blog-input-file-container {
  width: 50%;
  margin: 0 auto;
}

#naver-blog-input-file {
  width: 100%;
  height: 40px;
  margin: 0 auto;
}
