<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'member/login.css' %}">
  <title>Document</title>
</head>
<body>
  {% load socialaccount %}

  <div class="login-with-sns-wrap">
    <div class="login-with-sns-box">
      <div class="login-with-sns-content">
        <div class="login-with-sns-title">나맞지에 오신 것을 환영합니다!</div>
        <div class="login-with-sns-title">카카오톡 로그인을 진행해주세요.</div>
        <button class="login-with-sns-button" type="button" onclick="location.href = '{% provider_login_url 'kakao' %}'">
          <img class = "kakao" src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" alt="" >
        </button>
      </div>
    </div>
  </div>

</body>
</html>
