body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.header-container {
  width: 100%;
  height: 80px;
  /* background-color: #ffffff; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.ai-banner-container {
  background: linear-gradient(10deg, #93dafa, #cad8f4, #ffffff);
  width: 100%;
  height: 1800px;
}

.ai-banner-text-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 1800px;
  /* background-color: #fff; */
  position: relative;
}

.ai-banner-text-box-subtitle {
  font-size: 30px;
  font-weight: 500;
  color: #000;
  margin-top: 200px;
  transition: opacity 2s ease-in-out;
}

.ai-banner-text-box-title {
  z-index: 1;
  font-size: 85px;
  font-weight: 800;
  color: #000;
  margin-top: 20px;
  transition: opacity 1.5s ease-in-out;
}

.ai-banner-text-box-button-text {
  background: linear-gradient(10deg, #597bea, #72dcd3);
  width: 200px;
  height: 50px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  border: none;
  margin-top: 30px;

}


.ai-banner-text-box-sub {
  font-size: 20px;
  font-weight: 800;
  color: #000;
  margin-top: 60px;
  transition: opacity 1s ease-in-out;
  letter-spacing: 10px;
}

.ai-banner-mobile-image-box {
  width: 550px;
  height: 1100px;
  display: flex;
  justify-content: center;
}

.ai-banner-mobile-image {
  z-index: 1;
  background-image: url("/static/images/Group 82.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 525px;
  height: 100%;
  margin-left: 30px;
  margin-top: 60px;
  position: relative;
}

.ai-banner-mobile-inner-image {
  width: 300px;
  height: 300px;
  background-image: url("/static/images/online-invoice.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 250px;
  right: 90px;

  /* 초기 상태: 아래 + 투명 */
  opacity: 0;
  transform: translateY(40px); /* 아래에 위치한 상태 */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}



.ai-banner-mobile-inner-button {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.ai-banner-mobile-inner-button-text {
  width: 350px;
  height: 100px;
  border-radius: 60px;
  color: #fff;
  border: none;
  font-size: 35px;
  font-weight: 600;
  cursor: pointer;
  background-color: #5772ed;
  
  /* ✅ 그림자 */
  box-shadow: 40px 40px 30px rgba(0, 0, 0, 0.3);

  /* ✅ 애니메이션 */
  animation: pulse 2s ease-in-out infinite;
  transition: transform 0.3s ease;
}


@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.graph {
  z-index: 0;
  width: 150px;
  height: 150px;
  background-image: url("/static/images/Pie Chart Round.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 21%;
  left: 20%;
  opacity: 0.5;

  /* ✅ 애니메이션 */
  animation: floatUpDown 2s ease-in-out infinite;
  transition: transform 0.3s ease;
}

.calculator {
  z-index: 0;
  width: 300px;
  height: 300px;
  background-image: url("/static/images/calculator.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 33%;
  left: 16%;
  opacity: 0.6;

  /* ✅ 애니메이션 */
  animation: floatUpDown 2s ease-in-out infinite;
  transition: transform 0.3s ease;
}

.money {
  z-index: 0;
  width: 300px;
  height: 300px;
  background-image: url("/static/images/cash.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 25%;
  right: 10%;
  opacity: 0.8;

  /* ✅ 애니메이션 */
  animation: floatUpDown 2s ease-in-out infinite;
  transition: transform 0.3s ease;
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* 위로 15px */
  }
}
/* -------------------------------------------------------------------------------------- */

.biz-container {
  width: 100%;
  height: 700px;
  background-color: #fff;
}

.biz-text-box {
  width: 70%; 
  height: 500px;
  margin: 0 auto;
  padding-top: 300px;
  position: relative;
}

.biz-text-box-title {
  z-index: 1;
  font-size: 75px;
  font-weight: 600;
  color: #000;
  margin-top: 20px;
  margin-left: 200px;
  position: relative;
  opacity: 0;

  transform: translateX(-80px);
  transition: opacity 1.5s ease-in-out, transform 1s ease;
}

.biz-text-box-sub {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-left: 200px;
  opacity: 0;

  transform: translateX(-80px);
  transition: opacity 1.5s ease-in-out, transform 1s ease;
}

.coins {
  z-index: 0;
  width: 250px;
  height: 300px;
  background-image: url("/static/images/coins.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
  left: 0;
  opacity: 0;

  transform: translateX(-80px);
  transition: opacity 1.5s ease-in-out, transform 1s ease;
}

.biz-container2 {
  width: 100%;
  height: 700px;
  background-color: #fff;
}

.biz-text-box2 {
  width: 70%;
  height: 500px;
  margin: 0 auto;
  padding-top: 300px;
  position: relative;
}

.biz-text-box-title2 {
  z-index: 1;
  font-size: 75px;
  font-weight: 600;
  color: #000;
  margin-top: 20px;
  position: relative;
  text-align: end;
  margin-right: 200px;
  opacity: 0;

  transform: translateX(80px);
  transition: opacity 1.5s ease-in-out, transform 1s ease;
}

.biz-text-box-sub2 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-align: end;
  margin-right: 300px;
  position: relative;
  z-index: 1;
  opacity: 0;

  transform: translateX(80px);
  transition: opacity 1.5s ease-in-out, transform 1s ease;
}

.wallet {
  z-index: 0;
  width: 250px;
  height: 300px;
  background-image: url("/static/images/Card.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 150px;
  right: 0;
  opacity: 0;

  transform: translateX(80px);
  transition: opacity 1.5s ease-in-out, transform 1s ease;
}

.biz-container3 {
  width: 100%;
  height: 1000px;
  background-color: #fff;
}

.biz-text-box3 {
  width: 70%;
  height: 500px;
  margin: 0 auto;
  padding-top: 300px;
  position: relative;
}

.biz-text-box-title3 {
  z-index: 1;
  font-size: 75px;
  font-weight: 600;
  color: #000;
  margin-top: 20px;
  margin-left: 200px;
  position: relative;
  opacity: 0;

  transform: translateX(-80px);
  transition: opacity 1.5s ease-in-out, transform 1s ease;
}

.analysis {
  z-index: 0;
  width: 300px;
  height: 300px;
  background-image: url("/static/images/Fundamental Analysis.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
  left: 0;
  opacity: 0;

  transform: translateX(-80px);
  transition: opacity 1.5s ease-in-out, transform 1s ease;
}


.biz-text-box-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.biz-text-box-button-text {
  width: 350px;
  height: 80px;
  border-radius: 60px;
  color: #fff;
  border: none;
  font-size: 35px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(10deg, #597bea, #72dcd3);
  
  /* ✅ 그림자 */
  box-shadow: 40px 40px 30px rgba(0, 0, 0, 0.3);

  /* ✅ 애니메이션 */
  animation: pulse 2s ease-in-out infinite;
  transition: transform 0.3s ease;
}


@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* ------------------------------------------------------------------- */

.intro-container {
  width: 100%;
  height: 2000px;
  background: linear-gradient(10deg, #ffffff, #889cf6, #3b5cf0);
}

.intro-text-box {
  width: 70%;
  height: 2000px;
  margin: 0 auto;
  padding-top: 200px;
}

.intro-text-box-title {
  font-size: 75px;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.intro-text-box-sub {
  font-size: 75px;
  font-weight: 700;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}





/* ------------------------------------------------------------------- */
.visible {
  opacity: 1;
  transform: translateY(0); /* 제자리로 올라옴 */
}

.visible-2 {
  opacity: 1;
  transform: translateX(0); /* 제자리로 올라옴 */
}