.main-container {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/main_banner.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
}

.banner-btn {
  width: 200px;
  height: 40px;
  background-color: #7dff32;
  position: absolute;
  top: 75%;
  right: 60%;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #000000;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.banner-btn-text {
  margin: 0 auto;
  line-height: 40px;
}

.main-section-container {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.main-section-box {
  width: 40%;
}

.main-section-box-title {
  
  text-align: center;
  width: 100%;
  height: 10%;
}

.main-section-box-title-text {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  line-height: 50px;
}


ul {
  padding: 0;
  margin: 0;
}

.main-section-box-list-item {
  display: flex;
  height: 35px;
  margin-bottom: 5px;
}

.main-section-box-list-items {
  display: flex;
  justify-content: space-evenly;
  background-color: #18a0fb;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  line-height: 35px;

}
.main-section-box-list-items2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  line-height: 35px;
  background-color: #fff;
  cursor: pointer;
}

.category-text {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  width: 15%;
  text-align: center;
}

.title-text {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  width: 85%;
  text-align: center;
}

.category-text-biz {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  width: 15%;
  text-align: center;
}

.title-text-biz {
  font-size: 15px;
  font-weight: 450;
  color: #000000b3;
  width: 85%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px;
}

@media (max-width: 450px) {
  .main-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/main_banner.jpg");
    background-size: cover;
    background-position: center;
    height: 240px;
    width: 100%;
  }

  .banner-btn {
    top: 70%;
    right: 50%;
    width: 170px;
    font-size: 20px;
  }

  .main-section-box {
    width: 100%;
  }

  .main-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .main-section-box-list-items {
    width: 97%;
  }

  .main-section-box-list-items2 {
    width: 97%;
  }

  .category-text {
    width: 20%;
  }

  .category-text-biz {
    width: 20%;
  }
}

@media (max-width: 350px) {
  .main-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/main_banner.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
  }

  .banner-btn {
    top: 70%;
    right: 50%;
    width: 145px;
    font-size: 20px;
  }

  .main-section-box {
    width: 100%;
  }

  .main-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .main-section-box-list-items {
    width: 97%;
  }

  .main-section-box-list-items2 {
    width: 97%;
  }

  .category-text {
    width: 23%;
  }

  .category-text-biz {
    width: 23%;
  }

}

body {
  background-color: #0000001a;
}