<footer>
  <div class="footer">
    <div class="footer-content">
      <p>
        <strong>상호명:</strong> (주)피오코퍼레이션
      </P>
      <p>
        <strong>대표자명:</strong> 오원석
      </P>
      <p>
        <strong>사업자등록번호:</strong> 360-81-03403
      </P>
      <p>
        <strong>주소:</strong> 인천시 연수구 인천타워대로 323, 에이동 31층 비28호
      </P>
      <p>
        <strong>고객센터:</strong> 010-8117-1424 | <strong>이메일:</strong> nicepo.corp@gmail.com
      </P>
      <p style="cursor:pointer; color: black; text-decoration: none;">
        <a href="{% url 'personal_info' %}" style="cursor:pointer; color: blue; text-decoration: none;"><strong>개인정보처리방침</strong></a> | <a href="{% url 'terms_of_service' %}" style="cursor:pointer; color: blue; text-decoration: none;"><strong>이용약관</strong></a> | <a href="{% url 'terms_of_service' %}" style="cursor:pointer; color: blue; text-decoration: none;"><strong>회사소개</strong></a>
      </P>
      <p>
        <strong>Copyright ⓒ 2025 나맞지.</strong> All rights reserved.
      </P>
    </div>
  </div>
</footer>