<footer>
  <div class="footer">
    <div class="footer-content">
      <p>
        <strong>상호명:</strong> (주)피오코퍼레이션 | <strong>대표자명:</strong> 오원석 | <strong>사업자등록번호:</strong> 360-81-03403 | <strong>주소:</strong> 인천시 연수구 인천타워대로 323, 에이동 31층 비28호 | <strong>고객센터:</strong> 0507-1474-1679 | <strong>이메일:</strong> nicepo.corp@gmail.com | <a href="{% url 'personal_info' %}" style="cursor:pointer; color: #000; text-decoration: none;"><strong> 개인정보처리방침</strong></a> | <a href="{% url 'terms_of_service' %}" style="cursor:pointer; color: #000; text-decoration: none;"><strong> 이용약관</strong></a> | <a href="{% url 'terms_of_service' %}" style="cursor:pointer; color: #000; text-decoration: none;"><strong >회사소개 | </strong></a> <strong>Copyright ⓒ 2025 나맞지.</strong> All rights reserved.
      </P>
      <p style="cursor:pointer; color: black; text-decoration: none;">
        
      </P>
    </div>
  </div>
</footer>