<header id="top-nav-section">
  <div class="namatji-top-nav">
    <div class="namatji-img-box" onclick="location.href='/'">
      <div class="namatji-img"></div>
    </div>
    <div class="namatji-top-nav-buttons-box">
      <div class="namatji-top-nav-buttons">
        <a class="main-button" onclick="location.href='/search/'">AI 진단하기</a>
        <a class="main-button" onclick="location.href='/board/'">지원사업</a>
        <a class="main-button" onclick="location.href='/counsel/inquiry/'">고객문의</a>
      </div>
    </div>
  </div>
</header>