<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/main_test.css' %}">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <section id="header">
      <div class="header-container">dasdaas</div>
    </section>
    <section id="ai-biz">
      <div class="ai-banner-container">
        <div>
          <div class="ai-banner-text-box">
            <div class="ai-banner-text-box-subtitle">매일 80개씩 쏟아지는 지원공고</div>
            <div class="ai-banner-text-box-title">AI비서에게 물어보세요</div>
            <div class="ai-banner-text-box-button">
              <button class="ai-banner-text-box-button-text">AI 진단하기</button>
            </div>
            <div class="ai-banner-text-box-sub">나에게 딱 맞는 지원금</div>
            <div class="ai-banner-mobile-image-box">
              <div class="ai-banner-mobile-image">
                <div class="ai-banner-mobile-inner-image"></div>
                <div class="ai-banner-mobile-inner-button">
                  <button class="ai-banner-mobile-inner-button-text">AI 추천받기</button>
                </div>
              </div>
            </div>
            <div class="graph"></div>
            <div class="calculator"></div>
            <div class="money"></div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="biz-container">
        <div class="biz-text-box">
          <div class="biz-text-box-sub">하루에 몇 백개씩 쏟아져 나오는 지원금</div>
          <div class="biz-text-box-title">대표님 혼자<br>다 찾아보시려구요?</div>
          <div class="coins"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="biz-container2">
        <div class="biz-text-box2">
          <div class="biz-text-box-sub2">나만 모르는 내 지원금</div>
          <div class="biz-text-box-title2">몰라서 못받는 정책 지원금,<br>지금 확인하고 놓치지 마세요!</div>
          <div class="wallet"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="biz-container3">
        <div class="biz-text-box3">
          <div class="biz-text-box-title3">내가 받을 수 있는 지원금<br>3분이면 확인 끝!</div>
          <div class="biz-text-box-button">
            <button class="biz-text-box-button-text">AI 추천받기</button>
          </div>
          <div class="analysis"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="intro-container">
        <div class="intro-text-box">
          <div class="intro-text-box-title">
            대표님, 더 이상
          </div>
          <div class="intro-text-box-sub">
            몰라서 손해 보지 마세요.
          </div>
        </div>
      </div>
    </section>
    <section></section>
    <section></section>
    
    
  </div>
  <script src="{% static 'main/main_test.js' %}"></script>
</body>
</html>