<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="naver-site-verification" content="6f35a4366ee38a7cfb2f2fecb1bf3304f131afb2" />
    <meta property="og:type" content="website"> 
    <meta property="og:title" content="나에게 맞는 지원금">
    <meta property="og:image" content="https://namatji.com/static/images/NAMATJI.png">
    <meta property="og:description" content="나에게 맞는 AI 정부 지원금, 정책자금 찾기 서비스, 나맞지">
    <meta name="description" content="나에게 맞는 AI 정부지원금,정책자금  찾기 서비스, 나맞지 ">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="나에게 맞는 지원금">
    <meta name="twitter:description" content="나에게 맞는 AI 정부 지원금, 정책자금 찾기 서비스, 나맞지">  
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/main.css' %}" />
    <link rel="stylesheet" href="{% static 'base/base.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/NAMATJI_ICON.png' %}" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6882409851484122"
     crossorigin="anonymous"></script>
    <title>나맞지, 나에게 맞는 지원금</title>
  </head>
  <body>
    {% comment %} 상단 네비게이션 바 {% endcomment %}
    <nav>
      {% include 'base/top_nav.html' %}
    </nav>

    {% comment %} 메인 페이지 제목 {% endcomment %}
    <section>
      <div class="main-container">
        <div class="banner-btn" onclick="window.location.href='{% url 'search' %}'">
          <div class="banner-btn-text">AI 진단하기</div>
        </div>
      </div>
    </section>

    <section>
      <div class="main-section-container">
        <div class="main-section-box">
          <div class="main-section-box-title">
            <div class="main-section-box-title-text">최신 지원 사업</div>
          </div>
          <div>
            <ul>
              <li class="main-section-box-list-item">
                <div class="main-section-box-list-items">
                  <div class="category-text">분야</div>|<div class="title-text">공고명</div>
                </div>
              </li>
              {% for biz in biz_list %}
                <li class="main-section-box-list-item">
                  <div class="main-section-box-list-items2">
                    <div class="category-text-biz">{{ biz.field }}</div>|<div class="title-text-biz" onclick="window.location.href='{% url 'board:detail' biz.pblanc_id %}'">{{ biz.title }}</div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>  
        <div class="main-section-box">
          <div class="main-section-box-title">
            <div class="main-section-box-title-text">5월 3주차 인기 지원사업</div>
          </div>
          <div>
            <ul>
              <li class="main-section-box-list-item">
                <div class="main-section-box-list-items">
                  <div class="category-text">분야</div>|<div class="title-text">공고명</div>
                </div>
              </li>
              {% for biz in biz_list %}
                <li class="main-section-box-list-item">
                  <div class="main-section-box-list-items2">
                    <div class="category-text-biz">{{ biz.field }}</div>|<div class="title-text-biz" onclick="window.location.href='{% url 'board:detail' biz.pblanc_id %}'">{{ biz.title }}</div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>  

      <div>
    </section>
    

    {% include 'base/footer.html' %}
    {% comment %} 쿠팡 파트너스 배너 {% endcomment %}
    {% include 'base/coupang_banner.html' %}

  </body>
</html>
