<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="naver-site-verification" content="6f35a4366ee38a7cfb2f2fecb1bf3304f131afb2" />
    <meta property="og:type" content="website"> 
    <meta property="og:title" content="나에게 맞는 지원금">
    <meta property="og:image" content="https://namatji.com/static/images/NAMATJI.png">
    <meta property="og:description" content="나에게 맞는 AI 정부 지원금, 정책자금 찾기 서비스, 나맞지">
    <meta name="description" content="나에게 맞는 AI 정부지원금,정책자금  찾기 서비스, 나맞지 ">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="나에게 맞는 지원금">
    <meta name="twitter:description" content="나에게 맞는 AI 정부 지원금, 정책자금 찾기 서비스, 나맞지">  
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/main.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/NAMATJI_ICON.png' %}" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6882409851484122"
     crossorigin="anonymous"></script>
    <title>나맞지, 나에게 맞는 지원금</title>
  </head>
  <body>
    <div class="main-container">
      <div class="main-top">
        <div class="main-title">AI 비서가 찾아주는</div>
        <div>
          <button class="main-button" onclick="location.href='/board/'">공고 게시판</button>
        </div>
      </div>
      <div class="main-subtitle">
        <span class="orange-color">나</span>에게 <br />
        <span class="orange-color">맞</span>는 <br />
        <span class="orange-color">지</span>원금 찾기
      </div>
    </div>

    <div class="search-container">
      <form id="search-form" method="post" action="{% url 'main' %}">
        {% csrf_token %}
        <div class="search-wrap">
        <div class="search-region">
            <div>
          <label for="region"></label>
          <select id="region" class="region-select" name="region">
            <option value="">지역</option>
            <option value="서울">서울</option>
            <option value="경기">경기</option>
            <option value="인천">인천</option>
            <option value="경남">경남</option>
            <option value="경북">경북</option>
            <option value="부산">부산</option>
            <option value="대구">대구</option>
            <option value="대전">대전</option>
            <option value="울산">울산</option>
            <option value="전남">전남</option>
            <option value="전북">전북</option>
            <option value="광주">광주</option>
            <option value="충북">충북</option>
            <option value="충남">충남</option>
            <option value="강원">강원</option>
            <option value="제주">제주</option>
          </select>
        </div>          

        <div class="search-industry">
          <label for="industry"></label>
          <select id="industry" class="industry-select" name="industry">
            <option value="">업종</option>
            <option value="IT">IT</option>
            <option value="건설업">건설업</option>
            <option value="도소매">도소매</option>
            <option value="제조업">제조업</option>
            <option value="요식업">요식업</option>
            <option value="무역업">무역업</option>
            <option value="운수업">운수업</option>
            <option value="미디어">미디어</option>
            <option value="서비스업">서비스업</option>
            <option value="농수산업">농수산업</option>
            <option value="기타">기타</option>
          </select>
        </div>
      </div>
      <div>
        <div class="search-business-period">
          <label for="business-period"></label>
          <select id="business-period" class="business-period-select" name="business-period">
            <option value="">사업기간</option>
            <option value="예비창업">예비창업</option>
            <option value="1년 이하">1년 이하</option>
            <option value="1~3년">1~3년</option>
            <option value="3~7년">3~7년</option>
            <option value="7년 이상">7년 이상</option>
          </select>
        </div>

        <div class="search-export">
          <label for="export"></label>
          <select id="export" class="export-select" name="export">
            <option value="">수출여부</option>
            <option value="없음">없음</option>
            <option value="수출기업">있음</option>
            <option value="수출기업">희망</option>
          </select>
        </div>
      </div>
      <div>
        <div class="search-sales-volume">
          <label for="sales-volume"></label>
          <select id="sales-volume" class="sales-volume-select" name="sales-volume">
            <option value="">매출액</option>
            <option value="없음">없음</option>
            <option value="1억 이하">1억 이하</option>
            <option value="1~5억">1~5억</option>
            <option value="5~10억">5~10억</option>
            <option value="10~30억">10~30억</option>
            <option value="30억 이상">30억 이상</option>
          </select>
        </div>

        <div class="search-member-number">
          <label for="member-number"></label>
          <select id="member-number" class="member-number-select" name="member-number">
            <option value="">총 직원 수</option>
            <option value="없음">없음</option>
            <option value="1~4인">1~4인</option>
            <option value="5인 이상">5인 이상</option>
          </select>
          </div>
        </div>
      </div>
      </form>
      <div class="search-button-wrap">
        <button form="search-form" type="submit" class="search-button">찾아보기</button>
      </div>
    </div>
    <iframe class="coupang-banner" src="https://ads-partners.coupang.com/widgets.html?id=861866&template=carousel&trackingCode=AF8313643&subId=&width=350&height=140&tsource=" width="100%" height="140" frameborder="0" scrolling="no" referrerpolicy="unsafe-url" browsingtopics></iframe>
  </body>
</html>
