<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="나에게 맞는 AI 정부지원금,정책자금  찾기 서비스, 나맞지 - 딱맞는 정부지원금 찾기">
  <meta name="keywords" content="나맞지,정부지원금,지원금찾기,지원사업,국가지원사업,지원사업찾기,정책자금">
  <link rel="canonical" href="https://namatji.com/search/">

  <meta property="og:type" content="website"> 
  <meta property="og:title" content="나맞지 - 나에게 딱 맞는 지원금 찾아보기">
  <meta property="og:image" content="https://namatji.com/static/images/NAMATJI_ICON.png">
  <meta property="og:description" content="나맞지 - 나에게 딱 맞는 지원금 찾아보기">
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/search.css' %}">
  <link rel="stylesheet" href="{% static 'base/base.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/NAMATJI_ICON.png' %}" />
  <title>나맞지 - 나에게 딱 맞는 지원금 찾아보기</title>
  {% csrf_token %}
</head>
<body>
  {% include 'base/top_nav.html' %}
  <h1 style="display: none;">나맞지 - 나에게 딱 맞는 지원금 찾아보기</h1>

  <section id="region-section">
    <div class="search-region-container search-container">
      <div class="search-title">사업장 소재지</div>
      <div class="search-title2"><span class="search-title-sub">지역</span>을 알려주세요</div>
      <div class="search-region-wrapper">
        <div class="search-region">
          <div class="region">서울</div>
          <div class="region">경기</div>
          <div class="region">인천</div>
          <div class="region">강원</div>
        </div>
        <div class="search-region">
          <div class="region">경북</div>
          <div class="region">경남</div>
          <div class="region">부산</div>
          <div class="region">대구</div>
        </div>
        <div class="search-region">
          <div class="region">울산</div>
          <div class="region">대전</div>
          <div class="region">충북</div>
          <div class="region">충남</div>
        </div>
        <div class="search-region">
          <div class="region">전북</div>
          <div class="region">전남</div>
          <div class="region">광주</div>
          <div class="region">제주</div>
        </div>
        <div class="search-region">
          <div class="region">세종</div>
        </div>
      </div>
      <div class="search-btn-container search-region-btn-container">
        <button class="search-region-button-text search-btn">다음으로</button>
      </div>
    </div>
  </section>

  <section id="business-style-section">
    <div class="business-style-container search-container">
      <div class="search-back-icon">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.825 9L9.425 14.6L8 16L0 8L8 3.57628e-07L9.425 1.4L3.825 7H16V9H3.825Z" fill="#FEF7FF"/>
        </svg>
      </div>
      <div class="business-style-title search-title"><span class="search-title-sub">사업자</span> 보유현황</div>
      <div class="business-style">
        <div class="business-style-item">
          <div class="business-style-item-text">창업 전</div>
          <div class="business-style-item-text">사업자 보유</div>
        </div>
      </div>
      <div class="search-btn-container search-business-btn-container">
        <button class="search-business-button-text search-btn">다음으로</button>
      </div>
    </div>
  </section>

  <section id="industry-section">
    <div class="search-industry-container search-container">
      <div class="search-back-icon">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.825 9L9.425 14.6L8 16L0 8L8 3.57628e-07L9.425 1.4L3.825 7H16V9H3.825Z" fill="#FEF7FF"/>
        </svg>
      </div>
      <div class="search-title industry-search-title"><span class="search-title-sub">업종</span>을 입력하세요</div>
      <div class="search-industry">
        <div class="industry">
          <div class="industry-category-wrapper">
            <div class="industry-category">업종명 검색</div>
            <input type="text" class="industry-category-input">
          </div>
          <div class="industry-category-container">
            <div class="industry-table-header">
              <div class="industry-table-header-big">대분류</div>
              <div class="industry-table-header-small">소분류</div>
              <div class="industry-table-header-select">선택</div>
            </div>
              <div class="industry-category-table">
                {% comment %} 업종 검색결과 나올 곳 {% endcomment %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="business-period-section">
    <div class="business-period-container search-container">
      <div class="search-back-icon">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.825 9L9.425 14.6L8 16L0 8L8 3.57628e-07L9.425 1.4L3.825 7H16V9H3.825Z" fill="#FEF7FF"/>
        </svg>
      </div>
      <div class="business-period-title search-title"><span class="search-title-sub">설립</span>시점을<br> 적어주세요</div>
      <div class="business-period">
        <div class="business-period-item">
          <div class="business-period-year-wrapper">
            <input type="text" 
                   class="business-period-year" 
                   placeholder="25" 
                   maxlength="2" 
                   pattern="\d*" 
                   inputmode="numeric">
            <div>년</div>
          </div>
          
          <div class="business-period-month-wrapper">
            <input type="text" 
                   class="business-period-month" 
                   placeholder="03" 
                   maxlength="2" 
                   pattern="\d*" 
                   inputmode="numeric">
            <div>월</div>
          </div>
          
        </div>
      </div>
      <div class="search-btn-container search-business-period-btn-container">
        <button class="business-period-button search-btn">다음으로</button>
      </div>
    </div>
  </section>

  <section id="billing-last-year-section">
    <div class="billing-last-year-container search-container">
      <div class="search-back-icon">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.825 9L9.425 14.6L8 16L0 8L8 3.57628e-07L9.425 1.4L3.825 7H16V9H3.825Z" fill="#FEF7FF"/>
        </svg>
      </div>
      <div class="billing-last-year-title search-title"><span class="search-title-sub">연간매출</span></div>
      <div class="billing-last-year">
        <div class="billing-last-year-item">매출 없음</div>
        <div class="billing-last-year-item">1억 이하</div>
      </div>
      <div class="billing-last-year">
        <div class="billing-last-year-item">1~5억</div>
        <div class="billing-last-year-item">5~10억</div>
      </div>
      <div class="billing-last-year">
        <div class="billing-last-year-item">10~30억</div>
        <div class="billing-last-year-item">30억 이상</div>
      </div>
      <div class="search-btn-container search-billing-btn-container">
        <button class="billing-last-year-button search-btn">다음으로</button>
      </div>
    </div>
  </section>

  <section id="export-performance-section">
    <div class="export-performance-container search-container">
      <div class="search-back-icon">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.825 9L9.425 14.6L8 16L0 8L8 3.57628e-07L9.425 1.4L3.825 7H16V9H3.825Z" fill="#FEF7FF"/>
        </svg>
      </div>
      <div class="export-performance-title search-title"><span class="search-title-sub">수출 실적</span></div>
      <div class="export-performance">
        <div class="export-performance-item">
          <div class="export-performance-item-text">"없음"</div>
          <div class="export-performance-item-text">"있음"</div>
          <div class="export-performance-item-text">수출 희망</div>
        </div>
      </div>
      <div class="search-btn-container search-export-performance-btn-container">
        <button class="export-performance-button search-btn">다음으로</button>
      </div>
    </div>
  </section>

  <section id="employee-number-section">
    <div class="employee-number-container search-container">
      <div class="search-back-icon">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.825 9L9.425 14.6L8 16L0 8L8 3.57628e-07L9.425 1.4L3.825 7H16V9H3.825Z" fill="#FEF7FF"/>
        </svg>
      </div>
      <div class="employee-number-title search-title"><span class="search-title-sub">직원수</span></div>
      <div class="employee-number">
        <div class="employee-number-item">직원 없음</div>
        <div class="employee-number-item">1~4인</div>
        <div class="employee-number-item">5인 이상</div>
      </div>
      <div class="search-btn-container search-employee-number-btn-container">
        <button class="employee-number-button search-btn">다음으로</button>
      </div>
    </div>
  </section>

  <section>
    <div class="select-warning-container-wrapper">
      <div class="select-warning-box">
        <div class="select-warning-container">
          <div class="select-warning-text">옵션을 선택해주세요!</div>
        </div>
      </div>
    </div>
  </section>

  <section id="search-result-section">
    <div class="search-result-container">
      <div class="search-result-wait">
        입력내용 기반으로<br>
        25,806개 공고중<br>
      </div>
      <div class="wait_ai_img_box">
        <div class="wait_ai_img"></div>
        <div class="orbit-wrapper">
          <div class="wait_ai_searching_img"></div>
        </div>
      </div>
      <div class="search-result-wait2">
        딱.맞.는<br>
        <br>
        지원사업을<br>
        찾고 있어요
      </div>
    </div>
  </section>

  <section id="search-none-result-section">
    <div class="search-none-result-container">
      <div class="search-none-result-wait">
        해당하는<br> 
        지원사업이<br>
        없습니다<br>
      </div>
      <div class="none-wait_ai_img_box">
        <div class="none-wait_ai_img"></div>
      </div>
    </div>
  </section>

  {% include 'base/coupang_banner.html' %}

  <script src="{% static 'main/search.js' %}"></script>
</body>
</html>