body {
  font-family: "Pretendard", sans-serif;
}

a {
  text-decoration: none;
}

.main-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-subtitle {
  font-size: 65px;
  color: black;
  font-weight: bold;
}

.orange-color {
  color: #ff4000;
}

.search-container {
  font-size: 30px;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
}

/* .search-region {
  margin-top: 10%;
} */

.search-industry {
  margin-top: 10%;
}

.search-button-wrap {
  margin-top: 10%;
}

.search-button {
  margin-top: 20%;
  width: 150px;
  height: 50px;
  font-size: 15px;
}

select {
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 15px;
}

.coupang-banner {
  margin-left: -15px;
}

.search-wrap {
  display: flex;
  gap: 20px;
}

.search-export {
  margin-top: 10%;
}

.search-member-number {
  margin-top: 10%;
}
