@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/wizfile/font/TmonMonsori.eot');
  src:url('https://cdn.jsdelivr.net/gh/wizfile/font/TmonMonsori.woff') format('woff');
  font-style: normal;
}

body {
  padding-bottom: 170px;
}

/* 각 항목별 진행도 퍼센트 표시 */
.percent-box {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 80px;
}

.percent-box-text {
  width: 100%;
  height: 100%;
  font-family: 'TmonMonsori', sans-serif;
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  line-height: 80px;
  text-align: center;
}

/* 전체 페이지 공용 */
.search-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 426px;
  height: 700px;
  background-color: #4294ff;
  margin-top: 50px;
  border-radius: 15px;
  position: relative;
}

.search-title {
  font-family: 'TmonMonsori', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  margin: 30px;
  margin-top: 80px;
}
.search-title2 {
  font-family: 'TmonMonsori', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  margin-top: -40px;
}

.search-title-sub {
  font-family: 'TmonMonsori', sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #7dff32;
  margin-top: 15px;
}

.search-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #318aff;
  margin-top: auto;
  border-radius: 15px;
  cursor: pointer;
}

.search-btn {
  background-color: #318aff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 35px;
  font-weight: 600;
  cursor: pointer;
}

/* 지역 선택 페이지 */

.search-region {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.region {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  width: 60px;
  height: 35px;
  text-align: center;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
  margin-top: 15px;
}

/* 사업자 보유 현황 선택 페이지 */
.business-style {
  margin-top: 60px;
}

.business-style {
  margin-top: 60px;
}

.business-style-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.business-style-item-text {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  width: 200px;
  height: 35px;
  text-align: center;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
  margin-top: 15px;
}

/* 업종 검색 페이지 */

.industry-search-title {
  width: 88%;
  text-align: center;
  margin-top: 40px;
}

.industry-search-wrap {
  display: flex;
  justify-content: flex-end;
  width: 97%;
  margin-top: 10px;
}

.industry-search-text {
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.industry-category-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  width: 400px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.industry-category-wrapper input {
  width: 66%;
  border: 1px solid #000;
  background-color: #fff;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
}

.industry-category-container {
  display: flex;
  flex-direction: column;
}

.industry-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  color: #fff;
  background-color: #318aff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  width: 400px;
  height: 35px;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
}

.industry-table-header-big {
  width: 150px;
}

.industry-table-header-small {
  width: 175px;
}

.industry-table-header-select {
  width: 75px;
}

.industry-category-table {
  height: 369px;
  display: flex;
  flex-direction: column;
  max-height: 375px;
  overflow-y: auto;
  overflow-x: hidden;
}

.industry-category-table::-webkit-scrollbar {
  display: none;
}

.search-industry-container {
  height: 700px;
}

.industry-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  width: 400px;
  height: 35px;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
}

.industry-table-big {
  width: 150px;
  line-height: 20px;
}

.industry-table-small {
  height: 35px;
  letter-spacing: -2px;
  line-height: 20px;
  width: 200px;
}

.industry-table-select {
  width: 50px;
}

.industry-search-icon {
  transform: rotate(180deg);
  margin-left: 5px;
  margin-right: 5px;
}

.industry-search-icon-box {
  margin-top: -3px;
}

.industry-search-text2 {
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

/* 업종 검색 모달 */

.ind-modal-wrap {
  display: none;
  width: 426px;
  height: 700px;
  margin: 0 auto;
  background-color: #e6f5ff;
  border-radius: 15px;
  margin-top: 50px;
}

.ind-modal-container {
  margin: 0 auto;
  width: 97%;
  height: 100%;
}

.ind-modal-title-container {
  display: flex;
}

.ind-modal-close-btn-img {
  width: 20px;
  height: 20px;
  background-image: url('../images/X_icon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  right: 5px;
}

.ind-modal-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.ind-modal-btn-container {
  display: flex;
  justify-content: center;
  width: 24.24%;
  height: 40px;
  position: fixed;
  bottom: 123px;
}

.ind-modal-close-btn {
  cursor: pointer;
  position: relative;
}

.modal-gpt-container {
  width: 100%;
  height: 600px;
  text-align: center;
  background-color: #e6f5ff;
  overflow-y: auto;
  position: relative;
  border-radius: 15px;
  padding-bottom: 50px;
}

.modal-gpt-container::-webkit-scrollbar {
  display: none;
}

.modal-gpt-text {
  white-space: pre-wrap;
  /* font-family: 'Nanum Barun Gothic', sans-serif; */
  font-size: 13px;
  font-weight: 660;
  color: #000000;
  background-color: #ffffff;
  width: 90%;
  max-height: 2000px;
  margin-left: 0px;
  margin-top: 10px;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #bdbdbd;
}

.modal-gpt-text2 {
  white-space: pre-wrap;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  background-color: #ffffff;
  max-height: 1000px;
  margin-left: 10%;
  margin-top: 10px;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #bdbdbd;
}

.ind-modal-input {
  width: 85%;
  height: 41px;
  background-color: #ffffff;
  border: 1px solid #a7a7a7;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.ind-modal-btn {
  width: 15%;
  height: 42px;
  background-color: #ffffff;
  border: 1px solid #a7a7a7;
  margin: 0;
  padding: 0;
}

/* 업종 검색 모달 로딩 애니메이션 */

.modal-gpt-loading {
  display: flex;
  justify-content: flex-start;
}

.loading-dots {
  position: relative;
  border: 1px solid #bdbdbd;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  font-size: 80px;
  margin-top: 20px;
  height: 20px;
  line-height: 20px;
  width: 100px;
}

.loading-dots span {
  animation: blink 1.4s infinite;
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 20px;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
  left: 40px;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
  left: 60px;
}

.loading-dots span:nth-child(4) {
  animation-delay: 0.6s;
  left: 80px;
}

@keyframes blink {
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.business-period-year-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  width: 200px;
  height: 35px;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
}

.business-period-year-wrapper input {
  border-radius: 5px;
  width: 80%;
  border: 1px solid #000;
  background-color: #fff;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.business-period-month-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  width: 200px;
  height: 35px;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
}

.business-period-month-wrapper input {
  border-radius: 5px;
  width: 80%;
  border: 1px solid #000;
  background-color: #fff;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.billing-last-year-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  width: 150px;
  height: 35px;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  margin-top: 15px;
}

.billing-last-year {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.export-performance-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.export-performance-item-text {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  width: 150px;
  height: 35px;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
}

.employee-number {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.employee-number-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  width: 150px;
  height: 35px;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
}

.select-warning-container-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #00000085;
}

.select-warning-container {
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  background-color: #ff6f6f;
  border-radius: 15px;
  margin-top: 50px;
  position: absolute;
  top: 35%;
  left: 41%;
}

.select-warning-text {
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
}

.search-back-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.select-warning-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.search-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #5ec7ff;
  border-radius: 15px;
}
.search-none-result-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  margin: 0 auto;
  border-radius: 15px;
}

.search-result-wait {
  font-family: 'TmonMonsori', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #318aff;
  margin-top: 60px;
  text-align: center;
}
.search-none-result-wait {
  font-family: 'TmonMonsori', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #318aff;
  margin-top: 160px;
  text-align: center;
}

.search-result-wait2 {
  font-family: 'TmonMonsori', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #318aff;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 60px;
}

.wait_ai_img_box {
  width: 230px;
  height: 250px;
  margin: 0 auto;
  position: relative;
}

.wait_ai_img {
  width: 100%;
  height: 100%;
  background-image: url("../images/ai_consel_img.jpg");
  background-size: cover;
}
.none-wait_ai_img_box {
  width: 230px;
  height: 250px;
  margin: 0 auto;
  position: relative;
}

.none-wait_ai_img {
  width: 100%;
  height: 100%;
  background-image: url("../images/sad_imoji.png");
  background-size: cover;
}

.orbit-wrapper {
  position: absolute;
  top: 80%;
  left: 80%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
}

.wait_ai_searching_img {
  width: 55px;
  height: 65px;
  background-image: url("../images/search_img-removebg-preview.png");
  background-size: cover;
  position: absolute;
  animation: orbitXY 3s linear infinite;
}

@keyframes orbitXY {
  0%   { transform: translate(50px, 0px); }             /* 0° */
  6.25% { transform: translate(46px, 19px); }           /* 22.5° */
  12.5% { transform: translate(35px, 35px); }           /* 45° */
  18.75% { transform: translate(19px, 46px); }          /* 67.5° */
  25%  { transform: translate(0px, 50px); }             /* 90° */
  31.25% { transform: translate(-19px, 46px); }         /* 112.5° */
  37.5% { transform: translate(-35px, 35px); }          /* 135° */
  43.75% { transform: translate(-46px, 19px); }         /* 157.5° */
  50%  { transform: translate(-50px, 0px); }            /* 180° */
  56.25% { transform: translate(-46px, -19px); }        /* 202.5° */
  62.5% { transform: translate(-35px, -35px); }         /* 225° */
  68.75% { transform: translate(-19px, -46px); }        /* 247.5° */
  75%  { transform: translate(0px, -50px); }            /* 270° */
  81.25% { transform: translate(19px, -46px); }         /* 292.5° */
  87.5% { transform: translate(35px, -35px); }          /* 315° */
  93.75% { transform: translate(46px, -19px); }         /* 337.5° */
  100% { transform: translate(50px, 0px); }             /* 360° */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-ai-result-container {
  width: 25%;
  margin: 0 auto;
  border-radius: 10px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #5ec7ff;
}

.search-ai-result-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-section-box-list-items {
  display: flex;
  justify-content: space-evenly;
  background-color: #18a0fb;
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  line-height: 35px;

}
.main-section-box-list-items2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  width: 400px;
}

.category-text {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  width: 20%;
  text-align: center;
}

.title-text {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  width: 80%;
  text-align: center;
}
.title-text-d-day {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  width: 20%;
  text-align: center;
}

.category-text-biz {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  width: 20%;
  text-align: center;
}

.title-text-biz {
  font-size: 15px;
  font-weight: 450;
  color: #000000fc;
  width: 80%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px;
  cursor: pointer;
}

.title-text-d-day-biz {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  width: 20%;
  text-align: center;
}
.search-ai-result-title {
  font-family: 'TmonMonsori', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  line-height: 60px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.detail-text-container {
  display: flex;
}

.detail-text-container2 {
  display: none;
  max-height: 420px;
  width: 400px;
}

.detail-text {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #5dc6ff;
  border-top: 1px solid #5dc6ff;
  width: 420px;
}

.detail-text-title {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  width: 20%;
}

.detail-text-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #0000002b;
}

.detail-text-value {
  margin-left: 10px;
  font-size: 15px;
  width: 70%;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.last-text-box {
  margin-bottom: 20px;
  line-height: 20px;
  border: none;
}

.detail-view {
  color: #004ddc;
  font-style: italic;
  cursor: pointer;
}

.underline {
  margin-bottom: -15px;
}

@media (max-width: 500px) {

  body {
    padding-bottom: 200px;
  }

  .search-title {
    margin-top: 80px;
    margin-bottom: 0px;
  }

  .search-title-region {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .consel-nav-modal-item-box {
    width: 365px;
  }

  .consel-nav-modal-text-box {
    width: 92%;
  }


  .search-result-wait {
    margin-top: 10px;
  }

  .search-result-wait2 {
    margin-top: 25px;
  }

  .wait_ai_img_box {
    width: 200px;
    height: 240px;
  }

  .wait_ai_searching_img {
    width: 45px;
    height: 55px;
  }

  .search-ai-result-container {
    width: 97%;
  }

  .search-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 550px;
    background-color: #4294ff;
    border-radius: 15px;
  }

  .region {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    width: 60px;
    height: 35px;
    text-align: center;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 15px;
  }

  .search-industry-container {
    height: 550px;
  }

  .industry-category-table {
    height: 230px;
    width: 360px;
  }
  .industry-category-wrapper {
    margin: 0 auto;
    width: 330px;
  }

  .industry-category-wrapper input {
    width: 50%;
  }

  .industry-table-header {
    width: 330px;
  }

  .industry-table-row {
    width: 330px;
  }

  .industry-table-big {
    width: 90px;
  }

  .industry-table-small {
    width: 170px;
  }

  .industry-table-select {
    width: 70px;
  }

  .ind-modal-wrap {
    width: 360px;
    height: 620px;
  }

  .modal-gpt-container {
    height: 450px;
  }

  .ind-modal-btn-container {
    width: 92.24%;
  }

  .billing-last-year-item {
    width: 120px;
  }

  .select-warning-box {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .select-warning-container {
    top: 27%;
    left: 12%;
  }

  .search-result-container {
    width: 97%;
  }
}

@media (max-width: 360px) {

  body {
    padding-bottom: 200px;
  }

  .search-title {
    margin-top: 50px;
    font-size: 35px;
  }

  .consel-nav-modal-item-box {
    width: 365px;
  }

  .consel-nav-modal-text-box {
    width: 92%;
  }


  .search-result-wait {
    margin-top: 10px;
  }

  .search-result-wait2 {
    margin-top: 25px;
  }

  .wait_ai_img_box {
    width: 200px;
    height: 240px;
  }

  .wait_ai_searching_img {
    width: 45px;
    height: 55px;
  }

  .search-ai-result-container {
    width: 97%;
  }

  .search-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 600px;
    background-color: #4294ff;
    border-radius: 15px;
  }

  .region {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    width: 60px;
    height: 35px;
    text-align: center;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 15px;
  }

  .search-region {
    gap: 2px;
  }

  .search-industry-container {
    height: 550px;
  }

  .industry-category-table {
    height: 290px;
  }
  .industry-category-wrapper {
    margin: 0 auto;
    width: 300px;
  }

  .industry-category-wrapper input {
    width: 50%;
  }

  .industry-table-header {
    width: 300px;
    margin: 0 auto;
  }

  .industry-table-row {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 300px;
  }

  .industry-category-table {
    width: 360px;
  }

  .industry-table-big {
    width: 90px;
  }

  .industry-table-small {
    width: 170px;
  }

  .industry-table-select {
    width: 70px;
  }

  .billing-last-year-item {
    width: 120px;
  }

  .select-warning-box {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .select-warning-container {
    top: 27%;
    left: 12%;
  }

  .search-result-container {
    width: 97%;
  }
}

.search-region-container {
  display: flex;
}

.business-style-container {
  display: none;
}

.search-industry-container {
  display: none;
}

.industry-category-container {
  display: flex;
}

.business-period-container {
  display: none;
}

.billing-last-year-container {
  display: none;
}

.export-performance-container {
  display: none;
}

.employee-number-container {
  display: none;
}

.search-result-container {
  display: none;
}

