th {
 border: 1px solid #000;
}

td {
  border: 1px solid #000;
  padding: 4px;
}

table {
  border-collapse: collapse;
  width: 97%;
  background-color: #fff;
}

body {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #cfcfcf;
}


.nav-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  width: 97%;
}

.nav-item {
  width: 30%;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  background-color: #a4a4a4a2;
}

/* ************************************************ */

.counsel-wrapper {
  margin: 0 auto;
  width: 97%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f6fffb;;
  padding: 20px;
  margin-top: -1px;
}

.counsel-table {
  margin-bottom: 20px;
}

/* ************************************************ */

.inquiry-wrapper {
  margin: 0 auto;
  width: 97%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f6fffb;;
  padding: 20px;
  margin-top: -1px;
}

.inquiry-table {
  margin-bottom: 20px;
}

/* ************************************************ */

.count-wrapper {
  margin: 0 auto;
  width: 97%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f6fffb;;
  padding: 20px;
  margin-top: -1px;
}

#count-table {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #000;
  padding-right: 20px;
}


.nav-item.active {
  background-color: #f6fffb;;
  font-weight: bold;
  z-index: 1;
  border-radius: 10px 10px 0 0;
}

#count-thead .row,
#body-items .row {
  display: grid;
  grid-template-columns: 300px repeat(8, 1fr); /* 7일 기준 */
  gap: 50px;
  padding: 10px 0;
  border-bottom: 1px solid;
}

.thead-cell {
  font-weight: bold;
  text-align: center;
}

.cell {
  text-align: center;
}

.total-cell {
  font-weight: bold;
}

.page-name {
  font-weight: bold;
}

#prev-week-btn,
#next-week-btn {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

#date-range {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.kakao-wrapper {
  margin: 0 auto;
  width: 97%;
  border-radius: 10px;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f6fffb;;
  padding: 20px;
  margin-top: -1px;
}

.kakao-table {
  margin-bottom: 20px;
}

/* ************************************************ */

input[type="text"] {
  width: 94%;
  height: 30px;
  border: none;
  text-align: center;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]:focus-visible {
  outline: none;
}

.cust-user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6fffb;
  border-radius: 10px;
  padding: 20px;
}

.update-btn, #save-btn {
  cursor: pointer;
}

/*  -------------------------------------  */

.possible-product-modal-wrapper {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #00000073;
}

.possible-product-modal-content {
  width: 80%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 85px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  overflow-y: scroll;
  border-radius: 10px;
}

.possible-product-modal-content::-webkit-scrollbar {
  display: none;
}

.possible-product-summary {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;      /* 줄 단위로 끊기 */
  text-align: left;
}

#region, #industry, #export_experience, #region_detail_select, #region_detail_update, #region_select, #region_update, .region_detail_update, #industry-filter, #region-filter, #region-detail-filter, #export-experience-filter{
  border: none;
  width: 97%;
  text-align: center;
  height: 30px;
}

#industry-filter {
  border: none;
  width: 97%;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

#region-filter {
  border: none;
  width: 97%;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

#region-detail-filter {
  border: none;
  width: 97%;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

#export-experience-filter {
  border: none;
  width: 97%;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

#cust-user-reset-btn {
  cursor: pointer;
  background-color: #c2c2c26c;
  padding: 0;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  position: absolute;
  left: 2%;
}

#cust-user-delete-btn {
  cursor: pointer;
  background-color: #c2c2c26c;
  padding: 0;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  position: absolute;
  right: 2%;
}

.cust-user-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.cust-user-title {
  margin: 0 auto;
}

.possible_product {
  text-align: center;
  cursor: pointer;
  background-color: #c2c2c26c;
  padding: 0;
}

.possible_product_none {
  text-align: center;
  background-color: #ffffff;
  padding: 0;
}

.update-btn {
  text-align: center;
  cursor: pointer;
  background-color: #c2c2c26c;
  padding: 0;
}

.update-btn:hover {
  background-color: #959595;
}

.possible_product:hover {
  background-color: #959595;
}

.save-btn {
  text-align: center;
  cursor: pointer;
  background-color: #c2c2c26c;
  padding: 0;
}

.save-btn:hover {
  background-color: #959595;
}

#save-btn {
  text-align: center;
  cursor: pointer;
  background-color: #c2c2c26c;
  padding: 0;
}

#save-btn:hover {
  background-color: #959595;
}

.alarm-today, .today-registered-at {
  background-color: #ffee007f;
}

#writer-filter {
  border: none;
  width: 97%;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  height: 30px;
}


.cust-user-tr-hover:hover {
  background-color: #db94946c;
}

.cust-user-tr-red {
  background-color: #d656566c;
}

