<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>나맞지 - 네이버 블로그 작성</title>
  {% load static %}
  
  <link rel="stylesheet" href="{% static 'base/base.css' %}">
  <link rel="stylesheet" href="{% static 'naver_blog/naver_blog.css' %}">
</head>
<body>
  {% include 'base/top_nav.html' %}
  <section id="naver-blog-section">
    <div class="naver-blog-container">

      <div class="naver-blog-input-container">
        <div class="naver-blog-title">
          <h1>나맞지 - 네이버 블로그 작성</h1>
        </div>

        <div class="naver-blog-content">

          <div class="naver-blog-input">
            <textarea type="text" id="naver-blog-input" placeholder="프롬프트 입력하는 칸. 원고 다운로드는 모든 파일 응답 완료 후 버튼 클릭"></textarea>
          </div>

          <div class="naver-blog-input-file-container">
            <input type="file" id="naver-blog-input-file" multiple>
          </div>
          
        </div>

        <div class="naver-blog-button-container">
          <button id="naver-blog-button">작성</button>
        </div>

      </div>

      <div class="naver-blog-output-container">

        <div class="naver-blog-output-title">
          GPT 응답
        </div>

        <div class="naver-blog-output-content">

          <div class="output-textareas">
          </div>

          <div class="output-page-container">
          </div>
        </div>
        
        <div class="naver-blog-output-button-container">
          {% comment %} <button id="naver-blog-output-button">선택된 글 저장하기</button> {% endcomment %}
        </div>
      </div>

    </div>
    <div class="naver-blog-write-container">
      {% comment %} <button id="naver-blog-write-button">네이버 블로그 작성하기</button> {% endcomment %}
    </div>

    <div class="naver-blog-download-container">
      <button id="naver-blog-download-button">원고 다운로드</button>
    </div>
  </section>

  <script src="{% static 'naver_blog/naver_blog.js' %}"></script>
</body>
</html>