
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W92B5DXF');</script>
    <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="나에게 맞는 AI 정부지원금,정책자금  찾기 서비스, 나맞지 - 정부 지원금 목록">
  <meta name="keywords" content="정책자금, 정부지원금, 무상지원금, 지원금 찾기, 중소기업 지원금, 소상공인 지원금, 창업 지원금, 정부 무상 지원금, 정부지원사업, 정책자금 신청방법, 소상공인 정책자금, 중소기업 정책자금, 예비창업자 지원금, 창업자금 정부지원금, 기업지원금, 벤처기업 지원금, 소상공인 무상지원금, 정책자금 대출, 정부지원금 조회">
  <link rel="canonical" href="https://namatji.com/board/">

  <meta property="og:type" content="website"> 
  <meta property="og:title" content="나맞지 - 지원사업 목록">
  <meta property="og:image" content="https://namatji.com/static/images/NAMATJI_ICON.png">
  <meta property="og:description" content="나맞지 - 지원사업 목록">
  {% load static %}
  <link rel="stylesheet" href="{% static 'base/base.css' %}">
  <link rel="stylesheet" href="{% static 'board/board.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/NAMATJI_ICON.png' %}" />
  <title>나맞지 - 지원사업 목록</title>
  <!-- Meta Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '692464356832795');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=692464356832795&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>
<body>
  {% include 'base/top_nav.html' %}
  <div class="board-header">
    <h1>지원사업 목록</h1>
  </div>

  <div class="fixed-search-container">
    <div class="search-container">
      <form method="get" action="{% url 'board:list' %}" style="display: flex; gap: 10px;">
        <select id="select-type" class="select-type" name="select-type" default="title">
          {% comment %} <option value="all">전체</option> {% endcomment %}
          {% comment %} <option value="field">분야</option> {% endcomment %}
          <option value="title">공고명</option>
          <option value="region">지역</option>
        </select>
        <input class="board-search-input" type="text" id="search-input" name="keyword" placeholder="검색어를 입력하세요">
        <button type="submit" id="search-button">검색</button>
      </form>
    </div>
  </div>


  <table class="board-table">
    <thead>
      <colgroup>
        <col class="col-1">
        {% comment %} <col style="width: 15%"> {% endcomment %}
        <col class="col-2">
        <col class="col-3">
      </colgroup>
      <tr class="table-head">
        <th class="th-1">등록일</th>
        {% comment %} <th>분야</th> {% endcomment %}
        <th class="th-2">지역</th>
        <th class="th-3">공고명</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr class="table-row">
        <td class="table-row-1">{{ item.registered_at }}</td>
        {% comment %} <td>{{ item.field }}</td> {% endcomment %}

        {% if item.region %}
          <td class="table-row-2">{{ item.region.0 }}</td>
        {% else %}
          <td class="table-row-2">전국</td>
        {% endif %}

        <td class="table-row-3" onclick="location.href='{% url 'board:detail' item.pblanc_id %}?page_index={{ page_index }}'" style="cursor:pointer;">
          {{ item.title }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="pagination">
    {% if page_range %}
      {% if not is_first_block %}
        <a class="page-control-btn-dl" href="?page_index=1&select-type={{ select_type }}&keyword={{ keyword }}"></a>
        <a class="page-control-btn-l" href="?page_index={{ page_range.start|add:"-1" }}&select-type={{ select_type }}&keyword={{ keyword }}"></a>
      {% endif %}

      {% for page in page_range %}
        {% if page == page_index %}
          <strong class="page-num-btn selected">{{ page }}</strong>
        {% else %}
        <a class="page-num-btn" href="?page_index={{ page }}&select-type={{ select_type }}&keyword={{ keyword }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if not is_last_block %}
        <a class="page-control-btn-r" href="?page_index={{ page_range.stop|add:"1" }}&select-type={{ select_type }}&keyword={{ keyword }}"></a>
        <a class="page-control-btn-dr" href="?page_index={{ total_pages }}&select-type={{ select_type }}&keyword={{ keyword }}"></a>
      {% endif %}
    {% endif %}
  </div>
  {% include 'base/coupang_banner.html' %}

  <script src="{% static 'board/board.js' %}"></script>
</body>
</html>
