{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W92B5DXF');</script>
      <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- 🔹 SEO 메타 태그 -->
    <!-- 타이틀 태그 : 구글 검색 결과에 노출되는 제목, 탭 제목-->
    <title>나맞지 - {{ item.title }}</title>
    <!-- descriptionn: 구글 검색 결과에 노출되는 설명 -->
    <meta name="description" content="{{ item.noti_summary|striptags|truncatechars:150 }}">
    <!-- keywords : 현재는 구글에서 거의 무시되지만 단어단위 검색 유도 -->
    <meta name="keywords" content="{{ item.hashtag }}"> 
    <!-- robots : 검색엔진 크롤러에게 이 페이지를 색인하고 따라가도 된다는 의미 -->
    <meta name="robots" content="index, follow">
    <!-- canonical : 중복 페이지가 있을 경우 이 페이지가 원본이라고 알리는 태그 -->
    <link rel="canonical" href="https://namatji.com/board/detail/{{ item.pblanc_id }}/">
  
    <!-- 🔹 Open Graph (SNS 공유 시) -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ item.title }}">
    <meta property="og:description" content="{{ item.noti_summary|striptags|truncatechars:150 }}">
    <meta property="og:url" content="https://namatji.com/board/detail/{{ item.pblanc_id }}/">
    <meta property="og:image" content="{% static 'images/NAMATJI_SNS_ICON.png' %}">
  
    <!-- 🔹 Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ item.title }}">
    <meta name="twitter:description" content="{{ item.noti_summary|striptags|truncatechars:150 }}">
  
    <link rel="stylesheet" href="{% static 'base/base.css' %}">
    <link rel="stylesheet" href="{% static 'board/detail.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/NAMATJI_SNS_ICON.png' %}" />
    <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '692464356832795');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=692464356832795&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Meta Pixel Code -->
  </head>
  
<body>
  {% include 'base/top_nav.html' %}
  <div class="board-top-nav-container">
    <h1>지원사업공고</h1>
  </div>

  {% comment %} <div>작성 날짜 : {{ item.registered_at|date:"Y-m-d" }}</div> {% endcomment %}
  <hr>
  <div class="board-detail-container">
    <div class="detail-wrapper">
      <div class="detail-title">{{ item.title }}</div>


      <div class="detail-info-container1">
        <div class="description-wrap">
          <div class="description-text">기관명 :&nbsp;</div><div class="detail-institution-name">{{ item.institution_name }} </div>
        </div>
        <div class="description-wrap">
          <div class="description-text">분야 :&nbsp;</div><div class="detail-field">{{ item.field }} </div>
        </div>
        <div class="description-wrap">
          <div class="description-text">등록일 :&nbsp;</div><div class="detail-registered-at">{{ item.registered_at|date:"Y-m-d" }} </div>
        </div>
      </div>

      
      <div class="detail-info-container1">
        {% if item.reception_start.year != 1900 and item.reception_end.year != 9999 %}
        <div class="description-wrap">
          <div class="description-text">신청 기간 :&nbsp;</div><div class="detail-registered-at">{{ item.reception_start|date:"Y-m-d" }} ~ {{ item.reception_end|date:"Y-m-d" }}</div>
        </div>
        {% else %}
        <div class="description-wrap">
          <div class="description-text">신청 기간 :&nbsp;</div>
          <div>상시 접수(예산 소진 시까지)</div>
        </div>
        {% endif %}
      </div>


      <div class="description-text-box">
        <div class="description-text">사업 개요</div>
        <div>{{ item.content|safe }}</div>
      </div>
      
      <div class="detail-info-container2">
        <div class="description-text detail-info-text">사업 신청 방법</div>
        <div>{{ item.enroll_method }}</div>
      </div>
      
      {% if item.noti_summary != "오류" %}
      <div class="noti-box">
        <div class="description-noti-summary">공고 내용 요약&nbsp;</div>
        <div>{{ item.noti_summary }}</div>
      </div>
      {% endif %}
      

      {% if item.application_form_path %}
      <div class="detail-info-container1">
        <div class="description-text">신청 양식 :&nbsp;</div>
        <div><a href="{{ item.application_form_path }}" target="_blank">{{ item.application_form_name }}</a></div>
      </div>
      {% endif %}

      <div class="detail-info-container1">
        <div class="description-text">공고 원문 :&nbsp;</div>
        <div><a href="{{ item.print_file_path }}" target="_blank">{{ item.print_file_name }}</a></div>
      </div>

      {% if "add" in item.pblanc_id %}
      <div class="detail-info-container">
        <div class="detail-img">
          <img src="{{ iframe_src }}" alt="공고 이미지">
        </div>
      </div>
      {% else %}
      <iframe src="{{ iframe_src }}" width="100%" height="1500px"></iframe>
      {% endif %}
    </div>
  </div>
  <div class="hashtag-container">
    <div class="hashtag-text">해쉬태그</div>
    <div class="hashtag-items">
    {% for hashtag in item.hashtag %}
      <div class="hashtag-item">#{{ hashtag }}</div>
    {% endfor %}
    </div>
  </div>
  {% include 'base/coupang_banner.html' %}
</body>
</html>
