body {
  margin : 0
}

input {
  height: 23px;
  width: 180px;
}

select {
  height: 29px;
  width: 100px;
}

a {
  text-decoration: none;
}

.counsel-title {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 60px;
}

.form-group {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.main-container {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.main-title {
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-subtitle {
  text-align: center;
  font-size: 25px;
  color: black;
  font-weight: bold;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  background-color: white;
  height: 40px;
}

/* .main-subtitle-text {
  margin-top: 20px;
} */

.orange-color {
  color: #ff4000;
}

.form-button {
  text-align: center;
  margin-top: 60px;
}

.form-button button {
  font-weight: bold;
  background-color: #ffffff;
  color: #ff4000;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #ff4000;
}

.counsel-container {
  margin: 10px
}

.input-error {
  border: 1px solid red !important;
  height: 23px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.error-message {
  color: red;
  font-size: 12px;
  display: none;
  text-align: left;
}

.input-inner-wrapper .phone-input {
  width: 44px;
  text-align: center;
}
.input-inner-wrapper{
  display: flex;
  gap: 4px;
  flex-direction: row;
  font-size: 13px;
}

.date-input { 
  width: 40px;
  text-align: center;
  margin-left: 10px;
}

.sales-input24, .sales-input25 {
  width: 25px;
  text-align: center;
  margin-left: 10px;
}

.input-middle-text {
  margin-top: 5px;
}

.input-wrap {
  display: flex;
  font-size: 15px;
}

#consent {
  width: 23px;
  height: 23px;
}

.consent-text {
  margin-top: 3px;
}
