<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>상담 신청 리스트</title>
  {% load humanize %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'po_admin/po_admin.css' %}">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <div class="nav-item cust-user-nav-item">고객 정보 리스트</div>
      <div class="nav-item counsel-nav-item">상담 신청 리스트</div>
      <div class="nav-item inquiry-nav-item">고객 문의 리스트</div>
      <div class="nav-item count-nav-item">조회수 통계</div>
      <div class="nav-item kakao-nav-item">카카오</div>
    </div>
  </nav>

  <section>
    <div class="counsel-wrapper">
      <h1>상담 신청 리스트</h1>
      {% if counsels %}
        <table class="counsel-table">
          <colgroup>
            <col style="width: 5%">
            <col style="width: 10%">
            <col style="width: 10%">
            <col style="width: 5%">
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 10%">
            <col style="width: 10%">
            <col style="width: 10%">
          </colgroup>
          <thead>
            <tr>
              <th>번호</th>
              <th>상호</th>
              <th>연락처</th>
              <th>지역</th>
              <th>업종</th>
              <th>세부업종</th>
              <th>사업개시일</th>
              <th>연매출</th>
              <th>신청일시</th>
            </tr>
          </thead>
          <tbody>
            {% for counsel in counsels %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ counsel.company }}</td>
              <td>{{ counsel.phone }}</td>
              <td>{{ counsel.region }}</td>
              <td>{{ counsel.industry }}</td>
              <td>{{ counsel.industry_detail }}</td>
              <td>{{ counsel.start_date }}</td>
              <td>{{ counsel.sales }}</td>
              <td>{{ counsel.created_at|date:"Y-m-d H:i" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>등록된 상담 데이터가 없습니다.</p>
      {% endif %}
    </div>
  </section>

  <section>
    <div class="inquiry-wrapper">
      <h1>고객 문의 리스트</h1>
      <table class="inquiry-table">
        <colgroup>
          <col style="width: 5%">
          <col style="width: 10%">
          <col style="width: 10%">
          <col style="width: 65%">
          <col style="width: 10%">
        </colgroup>
        <thead>
          <tr>
            <th>번호</th>
            <th>이름</th>
            <th>연락처</th>
            <th>문의 내용</th>
            <th>작성 날짜</th>
          </tr>
        </thead>
        <tbody>
          {% for inquiry in inquiries %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ inquiry.name }}</td>
            <td>{{ inquiry.phone }}</td>
            <td>{{ inquiry.inquiry }}</td>
            <td>{{ inquiry.created_at|date:"Y-m-d H:i" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

  <section>
    <div class="count-wrapper">
      <div class="count-box">
        <h2>오늘 날짜 : {{ today|date:"Y-m-d" }}</h2>
  
        <button id="prev-week-btn">지난 일주일 보기</button>
        <button id="next-week-btn">다음 일주일 보기</button>
        <div id="date-range"></div>
        <!-- 조회수 테이블 -->
        <div id="count-table">
          <div id="count-thead"></div>
          <div id="body-items"></div>
        </div>
        <p id="date-range"></p>
        
        
      </div>
    </div>
  </section>

  <section>
    <div class="kakao-wrapper">
      <h1>카카오 회원 리스트</h1>
      <table class="kakao-table">
        <colgroup>
          <col style="width: 5%">
          <col style="width: 35%">
          <col style="width: 40%">
          <col style="width: 20%">
        </colgroup>
        <thead>
          <tr>
            <th>번호</th>
            <th>이름</th>
            <th>이메일</th>
            <th>최근 로그인</th>
          </tr>
        </thead>
        <tbody>
          {% for kakao in kakaos %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ kakao.username }}</td>
            <td>{{ kakao.email }}</td>
            <td>{{ kakao.last_login|date:"Y-m-d H:i" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
  </section>

  <section>
    <div class="cust-user-wrapper">
      <h1>고객 정보 리스트</h1>
      <table class="cust-user-table">
        <colgroup>
          <col style="width: 2%">
          <col style="width: 8%">
          <col style="width: 5%">
          <col style="width: 5%">
          <col style="width: 7%">
          <col style="width: 3%">
          <col style="width: 10%">
          <col style="width: 7%">
          <col style="width: 5%">
          <col style="width: 25%">
          <col style="width: 7%">
          <col style="width: 5%">
          <col style="width: 8%">
          <col style="width: 5%">
        </colgroup>
        <thead>
          <tr>
            <th>번호</th>
            <th>회사명</th>
            <th>지역</th>
            <th>시/군/구</th>
            <th>사업개시일</th>
            <th>사원수</th>
            <th>업종</th>
            <th>연매출</th>
            <th>수출여부</th>
            <th>사업내용</th>
            <th>가능한<br>지원사업</th>
            <th>공고 최신<br>업로드일</th>
            <th>
              <select id="writer-filter">
                <option value="all"
                        {% if selected_writer == "all" or not selected_writer %}selected{% endif %}>
                  전체
                </option>
                {% for w in writer_list %}
                  <option value="{{ w }}"
                          {% if w == selected_writer %}selected{% endif %}>
                    {{ w }}
                  </option>
                {% endfor %}
              </select>
            </th>
            <th>기타</th>
          </tr>
        </thead>
        <tbody class="cust-user-tbody">
          {% for cust_user in cust_users %}
          <tr id="{{ cust_user.id }}">
            <td>{{ forloop.counter }}</td>
            <td id="company_name{{ cust_user.id }}">{{ cust_user.company_name }}</td>
            <td id="region{{ cust_user.id }}" class="region">{{ cust_user.region }}</td>
            <td id="region_detail{{ cust_user.id }}" class="region_detail">{{ cust_user.region_detail }}</td>
            <td id="start_date{{ cust_user.id }}">
              {% if cust_user.start_date|date:"Y-m-d" == "1900-01-01" %}
                없음
              {% else %}
                {{ cust_user.start_date|date:"Y-m-d" }}
              {% endif %}
            </td>
            <td id="employee_count{{ cust_user.id }}">
              {% if cust_user.employee_count == "직원 없음" %}
                0
              {% else %}
                {{ cust_user.employee_count}}
              {% endif %}
            </td>
            <td id="industry{{ cust_user.id }}">{{ cust_user.industry }}</td>
            <td id="sales_for_year{{ cust_user.id }}">
              {% if cust_user.sales_for_year == "매출 없음" %}
                {{ cust_user.sales_for_year }}
              {% else %}
                {{ cust_user.sales_for_year|add:"0"|intcomma }}
              {% endif %}
            </td>
            <td id="export_experience{{ cust_user.id }}">{{ cust_user.export_experience }}</td>
            <td id="job_description{{ cust_user.id }}">{{ cust_user.job_description }}</td>
            <td class="possible_product">지원사업 보기</td>
            {% if cust_user.alarm|date:"Y-m-d" == today|date:"Y-m-d" or cust_user.alarm|date:"Y-m-d" == yesterday|date:"Y-m-d" %}
            <td id="alarm{{ cust_user.id }}" class="alarm-today">
              <span>{{ cust_user.alarm|date:"m-d" }}</span>
            </td>
            {% else %}
            <td id="alarm{{ cust_user.id }}">{{ cust_user.alarm|date:"m-d" }}</td>
            {% endif %}
            <td id="writer{{ cust_user.id }}">{{ cust_user.admin_member_id }}</td>
            <td class="update-btn{{ cust_user.id }} update-btn">수정</td>
          </tr>
          {% endfor %}
          <tr id="cust_user_id">
            <td></td>
            <td><input type="text" id="company_name"></td>
            <td>
              <select id="region_select">
              {% for r in region_list %}
                <option value="{{ r }}" {% if cust_user.region == r %}selected{% endif %}>{{ r }}</option>
              {% endfor %}
              </select>
            </td>
            <td id="region_detail">
              시/군/구
            </td>
            <td><input type="text" id="start_date"></td>
            <td><input type="text" id="employee_count"></td>
            <td>
              <select id="industry">
              {% for i in industry_list %}
                <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
              </select>
            </td>
            <td><input type="text" id="sales_for_year" class="comma-input"></td>
            <td>
              <select id="export_experience">
              {% for e in export_experience_list %}
                <option value="{{ e }}">{{ e }}</option>
              {% endfor %}
              </select>
            </td>
            <td><input type="text" id="job_description"></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="save-btn">저장</td>
          </tr>
        </tbody>
      </table>
      <div><input type="file" id="file-input"></div>
    </div>
  </section>

  <section>
    <div class="possible-product-modal-wrapper">
      <div class="possible-product-modal-content">
      <h1>가능한 지원사업</h1>
      <table class="possible-product-table">
        <colgroup>
          <col style="width: 10%">
          <col style="width: 15%">
          <col style="width: 15%">
          <col style="width: 55%">
          <col style="width: 5%">
        </colgroup>
        <thead>
          <tr>
            <th>업로드일자</th>
            <th>공고명</th>
            <th>모집기간</th>
            <th>사업요약</th>
            <th>본문이동</th>
          </tr>
        </thead>
        <tbody class="possible-product-tbody">
          
        </tbody>
      </table>
      </div>
    </div>
  </section>
  
  <script src="{% static 'base/regions.js' %}"></script>
  <script src="{% static 'po_admin/po_admin.js' %}"></script>
</body>
</html>