<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load humanize %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'po_admin/po_admin_another.css' %}">
  <title>Document</title>
</head>
<body>
  <section>
    <div class="cust-user-wrapper">
      <h1>고객 정보 리스트</h1>
      <table class="cust-user-table">
        <colgroup>
          <col style="width: 2%">
          <col style="width: 5%">
          <col style="width: 5%">
          <col style="width: 5%">
          <col style="width: 5%">
          <col style="width: 3%">
          <col style="width: 10%">
          <col style="width: 7%">
          <col style="width: 5%">
          <col style="width: 20%">
          <col style="width: 5%">
          <col style="width: 5%">
          <col style="width: 5%">
          <col style="width: 5%">
        </colgroup>
        <thead>
          <tr>
            <th>번호</th>
            <th>회사명</th>
            <th>지역</th>
            <th>시/군/구</th>
            <th>사업개시일</th>
            <th>사원수</th>
            <th>업종</th>
            <th>연매출</th>
            <th>수출여부</th>
            <th>사업내용</th>
            <th>가능한 지원사업</th>
            <th>최신 공고 업로드일</th>
            <th>기타</th>
          </tr>
        </thead>
        <tbody class="cust-user-tbody">
          {% for cust_user in cust_users %}
          <tr id="{{ cust_user.id }}">
            <td>{{ forloop.counter }}</td>
            <td id="company_name{{ cust_user.id }}">{{ cust_user.company_name }}</td>
            <td id="region{{ cust_user.id }}" class="region">{{ cust_user.region }}</td>
            <td id="region_detail{{ cust_user.id }}" class="region_detail">{{ cust_user.region_detail }}</td>
            <td id="start_date{{ cust_user.id }}">{{ cust_user.start_date|date:"Y-m-d" }}</td>
            <td id="employee_count{{ cust_user.id }}">{{ cust_user.employee_count }}</td>
            <td id="industry{{ cust_user.id }}">{{ cust_user.industry }}</td>
            <td id="sales_for_year{{ cust_user.id }}">{{ cust_user.sales_for_year|add:"0"|intcomma }}</td>
            <td id="export_experience{{ cust_user.id }}">{{ cust_user.export_experience }}</td>
            <td id="job_description{{ cust_user.id }}">{{ cust_user.job_description }}</td>
            <td class="possible_product">지원사업 보기</td>
            {% if cust_user.alarm|date:"Y-m-d" == today|date:"Y-m-d" or cust_user.alarm|date:"Y-m-d" == yesterday|date:"Y-m-d" %}
            <td id="alarm{{ cust_user.id }}" class="alarm-today">
              <span>{{ cust_user.alarm|date:"m-d" }}</span>
            </td>
            {% else %}
            <td id="alarm{{ cust_user.id }}">{{ cust_user.alarm|date:"m-d" }}</td>
            {% endif %}
            <td class="update-btn{{ cust_user.id }} update-btn">수정</td>
          </tr>
          {% endfor %}
          <tr id="cust_user_id">
            <td></td>
            <td><input type="text" id="company_name"></td>
            <td>
              <select id="region_select">
              {% for r in region_list %}
                <option value="{{ r }}" {% if cust_user.region == r %}selected{% endif %}>{{ r }}</option>
              {% endfor %}
              </select>
            </td>
            <td id="region_detail">
              시/군/구
            </td>
            <td><input type="text" id="start_date"></td>
            <td><input type="text" id="employee_count"></td>
            <td>
              <select id="industry">
              {% for i in industry_list %}
                <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
              </select>
            </td>
            <td><input type="text" id="sales_for_year" class="comma-input"></td>
            <td>
              <select id="export_experience">
              {% for e in export_experience_list %}
                <option value="{{ e }}">{{ e }}</option>
              {% endfor %}
              </select>
            </td>
            <td><input type="text" id="job_description"></td>
            <td></td>
            <td></td>
            <td id="save-btn">저장</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section>
    <div class="possible-product-modal-wrapper">
      <div class="possible-product-modal-content">
      <h1>가능한 지원사업</h1>
      <table class="possible-product-table">
        <colgroup>
          <col style="width: 10%">
          <col style="width: 15%">
          <col style="width: 15%">
          <col style="width: 55%">
          <col style="width: 5%">
        </colgroup>
        <thead>
          <tr>
            <th>업로드일자</th>
            <th>공고명</th>
            <th>모집기간</th>
            <th>사업요약</th>
            <th>본문이동</th>
          </tr>
        </thead>
        <tbody class="possible-product-tbody">
          
        </tbody>
      </table>
      </div>
    </div>
  </section>
  
  <script src="{% static 'base/regions.js' %}"></script>
  <script src="{% static 'po_admin/po_admin_another.js' %}"></script>
</body>
</html>