{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>법인영업 클래스</title>
  <link rel="stylesheet" href="{% static 'ai_class/class_form_end.css' %}">
  
</head>
<body>
  <div class="container">
    <div class="class_form_end_box">
      <div class="title">
        <span>법인영업 클래스 신청이 완료되었습니다.</span>
      </div>
      <div class="content">
        <span>클래스 일정은 추후 문자 안내드립니다.</span>
      </div>
    </div>
  </div>
</body>
</html>